<!-- Modal -->
<div id="register-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Register a new user</h4>
        </div>
        <div class="modal-body">

            <form class="form-horizontal">

                <div class="form-group">
                    <label class="control-label" for="user_email">Email</label>
                    <div>
                        <input type="email" class="form-control" id="user_email" name="user_email" placeholder="Email" autofocus>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <div>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Choose a password">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Full name">
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label">Role</label>
                    <div>
                        <input type="radio" name="group1" id="client" value="Client" class="with-gap">
                        <label for="client">
                            Client
                        </label>

                        <input type="radio" name="group1" id="analyst" value="Analyst" class="with-gap">
                        <label for="analyst">
                            Analyst
                        </label>
                    </div>
                </div>

                <div class="form-group" style="display: none" id="business-div">
                    <div>
                        <select class="active" id="business-drop">
                            <option disabled selected>Choose your business name</option>
                        </select>
                    </div>
                </div>
            </form>

            <div id="ajax-errors" class="alert alert-danger" role="alert" style="display: none;">
                <p><strong>Whoops!</strong></p>
                <span>Something went wrong</span>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="modal-close-button">Close</a>
            <a href="#!" class="waves-effect waves-green btn-flat" id="register-button">
                <span id="register-button-message">Register</span>
                <i id="register-button-icon" class="fa fa-arrow-right"></i> </a>
        </div>
    </div>
</div>